{% extends 'base.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block body %}
    {% block form %}
        <div class="justify-content-center  align-items-center">
            <form action="" method="post" class="border-secondary">
                <div class="form-group mb-3">
                    <h4 class="text-center mb-4">Add Category</h4>
                </div>
                <div class="form-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text">✉️</span>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text">🔐</span>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-outline-primary" value="Login">
                </div>
            </form>
        </div>
    {% endblock %}
{% endblock %}
