{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for cat in category %}
				<tr class="table-secondary">
					<td>{{ cat.id }}</td>
					<td>{{ cat.name }}</td>
					<th>
						<a type="button" class="btn btn-outline-warning" href="/category/edit/{{cat.id}}">Update</a>
						<a type="button" class="btn btn-outline-danger" href="#">Delete</a>
					</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
